.icon-size {
  --offset-left: -5.0%;
  --offset-top: -8.0%;
  --offset-ratio: 0.5;
  --base-width: 9%;  /* 기본값으로 고정 */
  --base-height: 16%; /* 기본값으로 고정 */
  width: calc(var(--base-width) * var(--offset-ratio));
  height: calc(var(--base-height) * var(--offset-ratio));
}

.icon-5-1 {
  position: absolute;
  left: calc(82.7% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(49.45% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-5-2 {
  position: absolute;
  left: calc(65.35% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(82.75% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-5-3 {
  position: absolute;
  left: calc(79.13% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(84.34% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-1 {
  position: absolute;
  left: calc(10.45% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(66.89% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-2 {
  position: absolute;
  left: calc(36.45% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(74.84% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-3 {
  position: absolute;
  left: calc(24.05% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(41.46% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-4 {
  position: absolute;
  left: calc(21.98% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(66.99% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-5 {
  position: absolute;
  left: calc(75.38% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(55.17% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-1 {
  position: absolute;
  left: calc(30.05% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(65.83% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-2 {
  position: absolute;
  left: calc(44.49% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(57.86% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-3 {
  position: absolute;
  left: calc(76.1% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(57.29% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-4 {
  position: absolute;
  left: calc(76.1% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(25.22% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-5 {
  position: absolute;
  left: calc(37.09% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(45.3% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-6 {
  position: absolute;
  left: calc(36.48% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(91.6% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-7 {
  position: absolute;
  left: calc(12.51% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(58.35% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-1 {
  position: absolute;
  left: calc(70.55% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(64.89% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}
