.icon-size {
  --offset-left: -5.0%;
  --offset-top: -8.0%;
  --offset-ratio: 0.5;
  --base-width: 9%;  /* 기본값으로 고정 */
  --base-height: 16%; /* 기본값으로 고정 */
  width: calc(var(--base-width) * var(--offset-ratio));
  height: calc(var(--base-height) * var(--offset-ratio));
}

.icon-5-1 {
  position: absolute;
  left: calc(27.95% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(54.2% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-5-2 {
  position: absolute;
  left: calc(57.09% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(37.4% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-5-3 {
  position: absolute;
  left: calc(53.6% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.8% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-5-4 {
  position: absolute;
  left: calc(39.76% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(40.64% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-6-1 {
  position: absolute;
  left: calc(45.28% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(69.6% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-9-1 {
  position: absolute;
  left: calc(24.01% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(65.4% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-12-1 {
  position: absolute;
  left: calc(53.15% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(76.6% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-12-2 {
  position: absolute;
  left: calc(62.6% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(61.2% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-1 {
  position: absolute;
  left: calc(52.19% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(64.0% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-2 {
  position: absolute;
  left: calc(42.13% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.23% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-3 {
  position: absolute;
  left: calc(68.11% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(72.4% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-4 {
  position: absolute;
  left: calc(75.2% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.23% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-5 {
  position: absolute;
  left: calc(73.9% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(19.77% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-6 {
  position: absolute;
  left: calc(50.0% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(52.61% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-7 {
  position: absolute;
  left: calc(41.34% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(28.28% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-8 {
  position: absolute;
  left: calc(49.04% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(25.31% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-9 {
  position: absolute;
  left: calc(32.43% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(64.0% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-13-10 {
  position: absolute;
  left: calc(40.69% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(87.8% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-14-1 {
  position: absolute;
  left: calc(54.72% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(61.2% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-14-2 {
  position: absolute;
  left: calc(32.98% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(61.52% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-14-3 {
  position: absolute;
  left: calc(72.05% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.8% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-14-4 {
  position: absolute;
  left: calc(43.7% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(69.6% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-14-5 {
  position: absolute;
  left: calc(20.37% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(72.4% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-14-6 {
  position: absolute;
  left: calc(20.53% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(61.2% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-14-7 {
  position: absolute;
  left: calc(9.64% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(58.43% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-15-1 {
  position: absolute;
  left: calc(48.77% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(60.28% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-15-2 {
  position: absolute;
  left: calc(32.48% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(60.28% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-15-3 {
  position: absolute;
  left: calc(66.54% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(60.05% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-15-4 {
  position: absolute;
  left: calc(89.37% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(60.32% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-15-5 {
  position: absolute;
  left: calc(20.31% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(60.05% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-16-1 {
  position: absolute;
  left: calc(47.64% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.8% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-16-2 {
  position: absolute;
  left: calc(16.14% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(48.6% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-16-3 {
  position: absolute;
  left: calc(68.1% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.59% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-16-4 {
  position: absolute;
  left: calc(88.59% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(65.94% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-16-5 {
  position: absolute;
  left: calc(28.75% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.59% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-17-1 {
  position: absolute;
  left: calc(50.79% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(61.2% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-17-2 {
  position: absolute;
  left: calc(88.59% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(73.8% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-17-3 {
  position: absolute;
  left: calc(90.16% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(63.68% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-17-4 {
  position: absolute;
  left: calc(68.9% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(60.88% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-17-5 {
  position: absolute;
  left: calc(36.41% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.8% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-18-1 {
  position: absolute;
  left: calc(50.79% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(58.4% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-18-2 {
  position: absolute;
  left: calc(88.21% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(58.4% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-18-3 {
  position: absolute;
  left: calc(27.95% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(57.57% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-19-1 {
  position: absolute;
  left: calc(79.47% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(73.8% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-19-2 {
  position: absolute;
  left: calc(64.17% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(57.0% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}
