.icon-size {
  --offset-left: -5.0%;
  --offset-top: -8.0%;
  --offset-ratio: 0.6;
  --base-width: 9%;  /* 기본값으로 고정 */
  --base-height: 16%; /* 기본값으로 고정 */
  width: calc(var(--base-width) * var(--offset-ratio));
  height: calc(var(--base-height) * var(--offset-ratio));
}

.icon-3-1 {
  position: absolute;
  left: calc(41.4% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(9.46% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-4-1 {
  position: absolute;
  left: calc(43.85% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(41.04% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-5-1 {
  position: absolute;
  left: calc(32.8% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(73.67% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-5-2 {
  position: absolute;
  left: calc(87.19% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(73.67% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-6-1 {
  position: absolute;
  left: calc(23.63% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(81.74% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-1 {
  position: absolute;
  left: calc(75.08% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(50.76% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-2 {
  position: absolute;
  left: calc(45.79% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(68.4% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-3 {
  position: absolute;
  left: calc(62.88% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(80.93% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-4 {
  position: absolute;
  left: calc(80.2% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(71.54% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-5 {
  position: absolute;
  left: calc(86.63% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(45.22% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-1 {
  position: absolute;
  left: calc(74.27% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(50.0% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-2 {
  position: absolute;
  left: calc(13.8% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(54.72% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}
