/* 기본 웹페이지 설정 */
.container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.slide {
  display: none;
  position: relative;
}

.slide.active {
  display: block;
  width: 100%;
  height: calc(56vw - 10px);
}

.img-sizes {
  width: 100%;
  height: calc(56vw - 10px);
}

/* 스마트폰용 웹페이지 설정 */

/* slide 관련 */

#prevSlide,
#nextSlide {
  position: fixed;
  top: 10px;
  z-index: 1002;
}

#prevSlide {
  left: 10px;
}

#nextSlide {
  right: 10px;
}

/* progress bar 관련 */
#progressBarContainer {
  width: 100%;
  height: 10px;
  background-color: #ddd;
}
#progressBar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
}

/* iframe 관련 */
#iframeDisplay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 75%;
  height: 75%;
  border: 1px solid #ccc;
  display: none;
  z-index: 1001;
  transform: translate(-50%, -50%);
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  display: none;
  z-index: 1000;
}
