.icon-size {
  /* 기본 사이즈: 9:16, 오프셋 비율에 따라 조정 */
  --offset-left: -4.3%; /* Left 오프셋 기본값 */
  --offset-top: -8%; /* Top 오프셋 기본값 */
  --offset-ratio: 0.4; /* 오프셋 비율 기본값: 1.0 (배수) */
  --base-width: 9%; /* 기본 너비 */
  --base-height: 16%; /* 기본 높이 */
  width: calc(var(--base-width) * var(--offset-ratio));
  height: calc(var(--base-height) * var(--offset-ratio));
}

.icon-6-1 {
  position: absolute;
  left: calc(
    59.15% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    69.38% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-6-2 {
  position: absolute;
  left: calc(
    54.43% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    91.42% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-6-3 {
  position: absolute;
  left: calc(
    54.43% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    74.44% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-6-4 {
  position: absolute;
  left: calc(
    54.43% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    37.87% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-6-5 {
  position: absolute;
  left: calc(
    68.01% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    48.47% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-7-1 {
  position: absolute;
  left: calc(
    69.19% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    81.97% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-7-2 {
  position: absolute;
  left: calc(
    46.16% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    66.23% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-8-1 {
  position: absolute;
  left: calc(
    57.68% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    36.83% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-8-2 {
  position: absolute;
  left: calc(
    35.53% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    64.17% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}

.icon-8-3 {
  position: absolute;
  left: calc(
    74.51% + var(--offset-left) -
      ((var(--base-width) * (var(--offset-ratio) - 1)) / 2)
  );
  top: calc(
    64.02% + var(--offset-top) -
      ((var(--base-height) * (var(--offset-ratio) - 1)) / 2)
  );
}
