.icon-size {
  --offset-left: -4.5%;
  --offset-top: -8.0%;
  --offset-ratio: 0.5;
  --base-width: 9%;  /* 기본값으로 고정 */
  --base-height: 16%; /* 기본값으로 고정 */
  width: calc(var(--base-width) * var(--offset-ratio));
  height: calc(var(--base-height) * var(--offset-ratio));
}

.icon-6-1 {
  position: absolute;
  left: calc(29.56% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(87.58% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-6-2 {
  position: absolute;
  left: calc(62.56% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(87.58% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-6-3 {
  position: absolute;
  left: calc(95.71% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(87.45% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-1 {
  position: absolute;
  left: calc(81.7% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(52.27% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-2 {
  position: absolute;
  left: calc(20.16% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(37.99% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-3 {
  position: absolute;
  left: calc(18.62% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(52.57% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-4 {
  position: absolute;
  left: calc(10.04% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(46.65% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-5 {
  position: absolute;
  left: calc(52.83% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(78.74% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-6 {
  position: absolute;
  left: calc(87.1% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(41.52% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-7 {
  position: absolute;
  left: calc(50.48% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(41.69% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-8 {
  position: absolute;
  left: calc(94.72% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(59.65% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-9 {
  position: absolute;
  left: calc(87.6% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(51.93% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-10 {
  position: absolute;
  left: calc(79.01% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(56.7% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-11 {
  position: absolute;
  left: calc(55.59% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(51.93% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-12 {
  position: absolute;
  left: calc(53.35% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(35.44% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-13 {
  position: absolute;
  left: calc(63.24% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(56.22% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-1 {
  position: absolute;
  left: calc(46.84% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(43.7% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-2 {
  position: absolute;
  left: calc(87.64% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(56.86% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-3 {
  position: absolute;
  left: calc(42.41% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(88.01% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-4 {
  position: absolute;
  left: calc(39.31% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(51.09% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-5 {
  position: absolute;
  left: calc(35.97% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(80.76% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-6 {
  position: absolute;
  left: calc(33.36% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(46.71% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-9-1 {
  position: absolute;
  left: calc(83.41% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(37.56% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-9-2 {
  position: absolute;
  left: calc(84.05% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(49.45% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-9-3 {
  position: absolute;
  left: calc(34.5% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(35.35% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-9-4 {
  position: absolute;
  left: calc(40.12% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(43.1% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-1 {
  position: absolute;
  left: calc(83.34% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(37.71% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-2 {
  position: absolute;
  left: calc(83.72% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(49.45% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-3 {
  position: absolute;
  left: calc(39.12% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(43.65% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-4 {
  position: absolute;
  left: calc(33.57% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(38.99% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-10-5 {
  position: absolute;
  left: calc(10.9% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(46.59% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-1 {
  position: absolute;
  left: calc(39.47% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(40.45% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-2 {
  position: absolute;
  left: calc(81.73% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(31.79% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-3 {
  position: absolute;
  left: calc(83.18% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(49.22% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-11-4 {
  position: absolute;
  left: calc(10.65% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(45.92% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}
