.icon-size {
  --offset-left: -4.5%;
  --offset-top: -8.0%;
  --offset-ratio: 0.35;
  --base-width: 9%;  /* 기본값으로 고정 */
  --base-height: 16%; /* 기본값으로 고정 */
  width: calc(var(--base-width) * var(--offset-ratio));
  height: calc(var(--base-height) * var(--offset-ratio));
}

.icon-7-1 {
  position: absolute;
  left: calc(48.01% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(54.51% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-2 {
  position: absolute;
  left: calc(80.54% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(73.2% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-3 {
  position: absolute;
  left: calc(28.55% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(70.06% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-4 {
  position: absolute;
  left: calc(78.56% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(87.71% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-7-5 {
  position: absolute;
  left: calc(19.67% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(44.84% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-1 {
  position: absolute;
  left: calc(12.68% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(53.97% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-2 {
  position: absolute;
  left: calc(20.39% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(37.38% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-3 {
  position: absolute;
  left: calc(37.89% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(66.64% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-4 {
  position: absolute;
  left: calc(64.53% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(64.37% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-5 {
  position: absolute;
  left: calc(88.6% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(62.85% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-6 {
  position: absolute;
  left: calc(20.42% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(72.48% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-7 {
  position: absolute;
  left: calc(51.16% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(61.67% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}

.icon-8-8 {
  position: absolute;
  left: calc(22.72% + var(--offset-left) - ((var(--base-width) * (var(--offset-ratio) - 1)) / 2));
  top: calc(25.29% + var(--offset-top) - ((var(--base-height) * (var(--offset-ratio) - 1)) / 2));
}
